/* Mobile First -------------------------------------------------------- */

/* Base ----------------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "futura";
}

img{
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Layout --------------------------------------------------- */

.header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-section{

}

.product-section{
    
}


/* Blocks --------------------------------------------------- */


/* Header */

/* Background */
.background-image__wrapper{
    width: 100%;

}

.background-image{
    position: absolute;
    z-index: -1;
    top: 100px;
}
.header__logo__wrapper{
    width: 30%;
    height: 75px;
    display: flex;
    align-items: center;
}

.header__nav{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 12%;
    display: none;
}

.header__hamburger-menu{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bar {
    display: inline-block;
    height: 2px;
    margin-top: 3px;
    background-color: black;
    border-radius: 5px;
}

.bar-1{
    width: 30px;
}

.bar-2{
    width: 30px;
    position: relative
    left: 5px;
}

/* Hero */
.hero-section__card__wrapper{
    width: 75%;
    position: relative;
    
}

.hero-section__title h2{

}

.services-section__images__wrapper{
    display: flex;
    align-items: center;
}

/* Feature Section */

.features-section__card{
    display: flex;
}

.features-section__card__image img{
    max-height: 100px;
    width: auto;
}


/* Tablet Styles */
@media(min-width: 550px){

}

@media(min-width: 700px){

}

@media(min-width: 550px){

}

/* Desktop Styles */
@media(min-width: 950px){
    
/* Base */





/* Layout */





/* Blocks */




}
